

<div class="container">

    <div class="child_1">
        <div class="container_profile_picture">
            <img src="{{user.photo}}" class="profile_picture">
        </div>
            <div class="child_1_title">
                    {{user.name}}
                    {{user.first_last_name}}
            </div>
        <div class="child_1_inside">
            {{user.email}} <br>
        </div>
    </div>

    <div class="child_2_title">
        EDITAR <br> DATOS
    </div>
    <div class="child_2">
        <div class="child_2_inside">
        <input #name type="text" class="input_1" placeholder="Nombre *"> <br> <br><br>
        <input #first_last_name type="text" class="input_1" placeholder="Apellidos * "> <br><br><br>
        <input #email type="text" class="input_1" placeholder="Correo * "> <br><br><br>
        <input #photo type="text" class="input_1" placeholder="Url * "> <br><br><br>
        </div>
    </div>
</div>
<div class="submit_buttom_container"> <br> <br> <br>
    <button class="submit_buttom" type="button" (click)="changeUser(name.value,first_last_name.value, email.value, photo.value)"> Modificar </button>
</div>

