
    <div>
        <header>
            <div class="div_img">
                <img class="img_1" src="libre1" alt="">
            </div>

            <title>
                My books
            </title>

            <div class="div_a">
                <a routerLink="home">Home</a>
                <a routerLink="register">Register</a>
                <a routerLink="profile">Profile</a>
                <a routerLink="booksPage">Books</a>
            </div>
        </header>

        <div class="body">

        </div>