
    <div>
        <header>
            <div class="div_img">
                <img class="img_1" src="libre1" alt="">
            </div>

            <title>
                My books
            </title>

            <div class="div_a">
                <a class="ab" routerLink="home">home</a>
                <a class="ab" routerLink="register">register</a>
                <a class="ab" routerLink="booksPage">books</a>
                <a class="ab" routerLink="update-book">update book</a>
                <a class="ab" routerLink="profile">profile</a>
                <a class="add_book" routerLink="add_book">Add book</a>
                <a class="login" routerLink="login">
                    <img src="/assets/img/yellowPerson4.png" alt="">
                </a>
            </div>
        </header>

        <div class="body">

        </div>