<div class="buscador_container_container">
    <div class="buscador_container">
        <input type="reset" class="buscador" type="number" placeholder="Search by title, author, genre or book id..." #buscarLibro>
            <button (click)="searchingBook(buscarLibro.value)" class="boton_buscador">
                <img class="lupa_img" src="/assets/img/lupa2.jpg" alt=""> search
            </button>
    </div>
</div>

<div class="title"> Los más leídos</div>
<div class="container_books" *ngIf="books.length>0; else noHayLibros">
    <ng-container *ngFor="let book of books; let par = even"> 
        <app-card class="button_even" [book]="book" [par]="par" (selectBook)="deleteBook($event)"></app-card>
    </ng-container>
</div> 

<ng-template #noHayLibros>
    <div class="container_books" style="height: 300px;">
        <h2 class="text-templeate">There are no books :(</h2>
    </div>
</ng-template>


<!-- <div class="lupa_img_container">
    <svg class="lupa_img" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27"><g fill="none" fill-rule="evenodd" stroke="#757575" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)"><line x1="25" x2="17" y1="25" y2="17"/><circle cx="10" cy="10" r="10"/></g></svg>
    </div>  -->