<form [formGroup]="myForm" class="container" (ngSubmit)="onSubmit()">

    <div class="myForm_nonBorn_child">
        <div class="img_form_container">
            <img class="img_form" src="/assets/img/logoBooks.png" alt="">
        </div>
    </div>
    <div class="myForm_first_child">
        <div class="myForm_little_child">
            <label>email <br>
                <input type="email" class="form-control" formControlName="email" required
                [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}">
                <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                    Email is neccesary **
                </div>

            </label>
                <label>password <br>
                    <input type="password" class="formcontrol" formControlName="password" required
                    [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
                    <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                        <div *ngIf="myForm.get('password').errors.required"></div>password is necessary **
                        <div *ngIf="myForm.get('password').errors.minlenght">password has at least 8 characters ** </div>
                    </div>
                    <div class="button_form_container">
                        <button class="button_form" type="submit" [disabled]="myForm.invalid">
                            login
                        </button>
                    </div>
                </label>
            </div>
        </div>
    </form>
