
<body>
</body>
    <div class="promo">
        <h3>
            Libros inolvidables con 10% dcto. 
        </h3>
        <h5>
            Promoción válida para todos nuestros socios. Disponible envío gratuito en la península y Baleares.
        </h5>
    </div>



<!-- fondo biblioteca

https://www.xtrafondos.com/wallpapers/biblioteca-nacional-de-francia-2055.jpg -->


<!--
        leyendo un libro
    https://www.xtrafondos.com/wallpapers/leyendo-un-libro-9103.jpg -->


<!-- 
    universo
    https://www.xtrafondos.com/wallpapers/nebula-del-espacio-2819.jpg -->