
<body class="container">
    

    <div class="form_title">
        Crea una nueva cuenta
    </div>

    <form class="form"> 

        <div class="form_inputs">
            Nombre * <br>
        <input type="text" class="n">
        <br>
        <br>
        Apellido * <br>
        <input type="text"class="n">
        <br>
        <br>
        Segundo apellido <br>
        <input type="text"class="n">
        <br>
        <br>
        url *<br><br>
        <input type="text"class="n">
        <br>
        <br>
        Correo Electrónico *<br>
        <input type="text"class="n">
        <br>
        <br>
        Contraseña *<br>
        <input type="password"class="n">
        <br>
        <br>
        Reescribe la contraseña *<br>
        <input type="password"class="n">

        <br>
        <br>

        </div>
    </form>
    <div class="form_checkbox">
        <input class="m" type="checkbox"> Marcando esta casilla confirmo que he leído y acepto la política de privacidad y protección de datos de carácter personal
        <br>
        <br>
        <br>
        <input class="m" type="checkbox"> Marcando esta casilla consiento recibir comunicaciones publicitarias o promocionales por medios electrónicos
        <br>
        <br>
        <div class="submit_buttom_container">
            <input value="continuar" type="submit" class="submit_buttom" type="button">
        </div>

    </div>
    <br> 
    <br>

</body>