
<form class="form_container">
    <div class="h1_container">
        <div class="h1_child">
            MODIFY <br> BOOK
        </div>
    </div>
        <div class="form_child">
            <div class="form_second_child">
                <br> <br> <br> <br>
                <!-- <br><input type="number" placeholder="id user *" #id_user> <br> -->
                <br><input type="number" placeholder="id book *"  #id_book> <br>
                <br><input type="text" placeholder="Title" #title> <br>
                <br> <input type="text" placeholder="Type" #type> <br>
                <br> <input type="text" placeholder="Author" #author> <br>
                <br><input type="number" placeholder="Price" #price> <br>
                <br> <input type="url" placeholder="Photo url" #photo>
            </div>
        </div>
        
</form>
<div class="button_div">
    <button type="reset" class="form_buttom" (click)="modifyBook(0, id_book.value, title.value, type.value, author.value, price.value, photo.value)">
        update book
    </button>
</div>
<!-- <div class="sky_container">
    <img src="/assets/img/sky.jpg" alt="" class="sky">
</div>
<div class="te_container">
    <img src="/assets/img/te.jpg" alt="" class="te">
</div>
<div class="te_container">
    <img src="/assets/img/shadowGirl.jpg" alt="" class="te">
</div> -->