
<body class="container">
    
    <div class="img_girl_container">
        <img src="assets/img/girl.jpg" class="img_girl" alt="">
    </div>
    <div class="form_title">
        CREA <br>  UNA <br> 
        NUEVA <br> CUENTA
    </div>

    <form class="form"> 

        <div class="form_inputs">
            <!-- Nombre * <br> -->
        <input placeholder="Nombre *" type="text" class="n">
        <br>
        <br>
        <!-- Apellido * <br> -->
        <input placeholder="Apellidos *" type="text"class="n">
        <br>
        <br>
        <!-- url *<br><br> -->
        <input placeholder="Url *" type="text"class="n">
        <br>
        <br>
        <!-- Correo Electrónico *<br> -->
        <input placeholder="Correo electrónico *" type="text"class="n">
        <br>
        <br>
        <!-- Contraseña *<br> -->
        <input placeholder="Contraseña *" type="password"class="n">
        <br>
        <br>
        <!-- Reescribe la contraseña *<br> -->
        <input placeholder="Reescribe la contraseña *" type="password"class="n">

        <br>
        <br>

        </div>
    </form>
    <div class="form_checkbox">
        <input class="m" type="checkbox"> Marcando esta casilla confirmo que he leído y acepto la política de privacidad y protección de datos de carácter personal
        <br>
        <br>
        <br>
        <input class="m" type="checkbox"> Marcando esta casilla consiento recibir comunicaciones publicitarias o promocionales por medios electrónicos
        <br>
        <br>
        <div class="submit_buttom_container">
            <input value="continuar" type="submit" class="submit_buttom" type="button">
        </div>

    </div>
    <br> 
    <br>

</body>